body {
    font-family: sans-serif;
    background-image: url(https://www.themoviedb.org/t/p/original/vMIlGA4HJnJekSboqk4ap0lz2Sd.jpg);

    color: white;
    background-size: cover; 
}
h1{
     text-align:center;

}

.layer{
 background-color: #04041121;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.gallery{
    display: flex;
    justify-content: center;
}
p{
    background-color:#252525;
    border-radius: 50% 20% / 10% 40%;
    padding: 20px;
    padding-left: 50px;
}
img{
    border:10px double  black;
}
